.PeopleCarrousel{
    @media screen  and (min-width: 1800px) {
        padding-top: 6rem;
      }
    .people__carousel--title{
        font-size: 2rem;
        margin-bottom: 2.5rem; 
        /*
        @media screen  and (min-width: 1800px) {
            font-size: 7rem;
            margin-bottom: 10rem;
            padding-left: 3rem;
            margin-top: 4rem; 
        }*/
    }
    .people__info--name{
        /*
        @media screen  and (min-width: 1800px) {
            font-size: 3rem;
            line-height: 1;
        }*/
    }
    .people__info--title  {
        /*
        @media screen  and (min-width: 1800px) {
            font-size: 2rem;
        }*/
    }   
}
 
.people__info--image {
    opacity: 1 !important;
}
    
.slick-dots {
    visibility: hidden;
}

.left--arrow__people,
.right--arrow__people{
    position: absolute;
    top: 34%;
}

#left--arrow__people {
    /*
    @media screen  and (min-width: 1800px) {
        padding-left: 9rem;
    }*/
}

#arrow__people {
    /*
    @media screen  and (min-width: 1800px) {
        position: absolute;
        top: 34%;
        right: 1rem;
        height: 6rem;
        width: 6rem;
    }*/
} 