@import '../../styles/_variables.scss';


.MovieList{
    margin-top: 9.3rem; 
    /*
    @media screen  and (min-width: 1800px) {
        padding-left: 14rem;
        margin-top: 25.3rem;
    } */
    .searchField-title{
        color: $titleColor;
        padding-left: 2rem;
        font-family: $secondary-font;
        font-size: 1.3rem;
        
        @media (min-width: 1200px) {
            font-size: 1.7rem;
            padding: 2.5rem 14.5rem;;
        } 
      }
    .MovieList-Wrapper{
        padding: 2.5rem 1.5rem;
        display: flex;
        flex-wrap: wrap;
        background: #141414;
        @media (min-width: 1200px){
            padding: 2.5rem 14.5rem;
        }
    }   
    .footer {
        @media (min-width: 1200px){
            padding-left: 14rem;
        }
    } 
}
 

/*******************MEDIA QUERIES*******************************/

@media (min-width: 1200px){
    .MovieList-Wrapper {
        padding: 5rem;
    }
}

@media (min-width: 640px){
    .MovieList-Wrapper {
        padding: 3rem 0.5rem;
        padding-left: 1.7rem;
    }
}

@media (min-width: 1200px){
    .footer {
        //padding-left: 14rem;
    }

    .footer--info { 
        //font-size: 2rem;
    }
} 

