.popular {
  img {
    width: 95%;
    border-radius: 7px 7px 7px 7px;
    @media only screen and (min-width: 1200px) {
        border-radius: 7px 7px 7px 7px;
    }
    &:hover {
      transition: all 0.7s ease;
      -webkit-transform: scale(1.25); /* Safari and Chrome */
      -moz-transform: scale(1.25); /* Firefox */
      -ms-transform: scale(1.25); /* IE 9 */
      -o-transform: scale(1.25); /* Opera */
      transform: scale(1.05);
      opacity: 1;
      border-radius: 7px 7px 7px 7px;
    }
  }
  .image,
  #image {
    border-radius: 7px 7px 7px 7px;
    @media only screen and (min-width: 1440px) {
      max-height: 354.81px;
      width: 236.55px;
      border-radius: 7px 7px 7px 7px;
    }
  }
}

.slider-divider {
    padding-top: 3rem;
}