.footer{
  margin-top: 60px; 
  margin-left: 4rem;
  margin-bottom: 50px;
  @media screen  and (min-width: 769px) {
    margin-bottom: 50px;
  } 
  @media screen and (min-width: 0px) and (max-width: 768px) {
    margin-bottom: 5rem;
  }
  .footer--social {
      /*
    @media screen  and (min-width: 1800px) {
      padding-right: 5rem;
    }*/
  }
  .footer--info__socialmedia, .footer--info{
      color: #80868b;
      line-height: 2.5rem;
  }
  #search-fiedl-footer {

  }

  .footer--info__socialmedia{
      padding-top: 20px;
      font-size: 1.4em;
      .envelope{
          background: none;
          border: none;
          outline: none;
          &:hover{
              color: white;
              transition: .3s ease-in-out;
              cursor: pointer;
          }
      }
      .github{
          &:hover{
              color: white;
              transition: .3s ease-in-out;
              cursor: pointer;
          }
      }
      .linkedin{
          &:hover{
              color: white;
              transition: .3s ease-in-out;
              cursor: pointer;
          }
      }
      .twitter{
          &:hover{
              color: white;
              transition: .3s ease-in-out;
              cursor: pointer;
          }
      }
   }
}

//////////////////Media Queries //////////////////


@media (min-width: 1200px){
    #search-fiedl-footer {
        padding-left: 14rem;
    }
} 
